@import '_mixins/color';
@import '_functional/visual_functional';


.odpr-grid__sidebar_col--color {
	background: white !important;
}

.odpr-grid__sidebar_col--polish {
	overflow-x: hidden;
}


.odpr-shadow {
	background: white;
}

.odpr-shadow:after {
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .16), 0 0 200px 0 rgba(61, 140, 189, 0.09);
	content: "";
	z-index: -1;
}

.odpr__input-field--round-edges {
	border-width: 1px;
	border-radius: 5px;
}
