.footer {
	&.page-footer {
		bottom: 0;
		color: $white;
		.container-fluid {
			width: auto;
		}
		.footer-copyright {
			overflow: hidden;
			background-color: rgba($black, .2);
			color: rgba($white, .6);
		}
		a {
			color: $white;
		}
	}
	position: fixed;
	left: 0;
	right: 0;
	justify-content: center;
	background: #3d4552;
	z-index: 50;

	a {
		color: white;
		text-decoration: underline;

		&:hover {
			color: gray;
		}
	}
}
