<template>
	<div class="legal-body">
		<h1>Disclaimer</h1>
		<Introduction />
		<p>
			The information contained on https://odpr.cg.tuwien.ac.at website (the "Service") is for general information
			purposes only.
		</p>
		<p>
			ODPR assumes no responsibility for errors or omissions in the contents on the Service.
		</p>
		<p>
			In no event shall ODPR be liable for
			any special, direct, indirect, consequential, or incidental damages or any damages whatsoever, whether in an
			action of contract, negligence or other tort, arising out of or in connection with the use of the Service or the
			contents of the Service. ODPR reserves the right to make additions, deletions, or modification to the contents on
			the Service at any time without prior notice.
		</p>
		<p>
			ODPR does not warrant that the Service is free of viruses or other harmful components.
		</p>
		<h2>External links disclaimer</h2>
		<p>
			https://odpr.cg.tuwien.ac.at website may contain links to external websites that are not provided or maintained
			by or in any way affiliated with ODPR
		</p>
		<p>
			Please note that the ODPR does not guarantee the accuracy, relevance, timeliness, or completeness of any
			information on these external websites.
		</p>
		<h2>User provided Content disclaimer</h2>
		<p>
			ODPR is not responsible or liable in any manner for any Content posted by third parties on the Site or
			available from third parties in connection with the Service. Although we provide rules for user conduct and
			postings, we do not control and are not responsible for what Users do, post, transmit or share on the Site.
		</p>
		<p>
			Under no circumstances will ODPR be responsible for any loss or damage, including any loss or damage to any
			User Content, or for personal injury or death, resulting from anyone's use of the Site or the Service, any Content
			posted on or through the Site, or any interactions between users of the Site, whether online or offline. You post
			Content on the Site at your own risk.
		</p>
		<p>
			ODPR expressly disclaims all warranties of any kind, whether express or implied, including such warranties as
			may be applicable under Sale of Goods legislation or other statutes, and including but not limited to the implied
			warranties of merchantability, fitness for a particular purpose, performance and non-infringement, or of
			availability or results. ODPR does not warrant that (i) the Service will meet your specific requirements,
			(ii) the Service will be uninterrupted, timely, secure, or error-free, (iii) the results that may be obtained from
			the use of the Service will be accurate or reliable, (iv) the quality of any products, services, information, or
			other material purchased or obtained by you through the Service will meet your expectations, and (v) any errors in
			the Service or any software will be corrected.
		</p>
		<h2>Limitation of Liability</h2>
		<p>
			In no event will the ODPR Parties be liable to you for any indirect, consequential, exemplary, incidental,
			special, aggravated, exemplary or punitive damages, or damages for loss of profits, goodwill, use, data or other
			intangible losses, whether arising out of contract, tort, negligence (including strict liability), warranty,
			indemnity or otherwise, arising from your use of the Site or the Service, or any of the Site Content or other
			materials on, accessed through or downloaded from the Site or the Service, even if the ODPR Parties are aware
			or have been advised of the possibility of such damages.
		</p>
		<p>
			Notwithstanding anything to the contrary contained in this Agreement, the ODPR Parties’ maximum aggregate
			liability to you for any cause whatsoever, and regardless of the form of the action, will at all times be limited
			to the amount paid, if any, by you to ODPR for the Service during the one month prior to the time the
			liability arose, or, if amounts are due to you by ODPR pursuant to Section 7 of the Terms and Conditions, our
			aggregate liability to you for such unpaid amounts shall be the aggregate amount of such unpaid amounts.
			You acknowledge that if no fees are paid to ODPR for the Service or due to you under Section 7 of the Terms and
			Conditions, you shall be limited to injunctive relief only,
			unless otherwise permitted by law, and shall not be entitled to damages of any kind from the ODPR Parties,
			regardless of the cause of action.
		</p>
		<h2>Electronic Communications</h2>
		<p>
			The communications between you and ODPR use electronic means, whether you visit the Site or use the Service
			or send ODPR e-mails, or whether ODPR posts notices on or through the Site or communicates with you via
			e-mail. For contractual purposes, you (a) consent to receive communications from ODPR in an electronic form;
			and (b) agree that all terms and conditions, agreements, notices, disclosures, and other communications that
			ODPR provides to you electronically satisfy any legal requirement that such communications would satisfy if
			it were be in writing. The foregoing does not affect your statutory rights.
		</p>
		<h2>Termination</h2>
		<p>
			This Agreement continues until terminated by either ODPR or you. ODPR reserves the right to refuse
			access to the Service to any person at any time for any reason, or for no reason, in its sole discretion.
		</p>
		<p>
			ODPR may terminate this Agreement and your account, delete your account and remove any Content or information
			that you have posted on the Site or and/or prohibit you from using or accessing the Service or the Site (or any
			portion, aspect or feature of the Service or the Site) for any reason, or no reason, at any time in its sole
			discretion, with or without notice. If we terminate your account or this Agreement, our license to your User
			Content shall continue as described in Section 3(4) of the
			<router-link :to="termsOfUseLink">
				Terms of Use
			</router-link>.
		</p>
		<p>
			If you terminate this Agreement, the effective time of termination is the later of the effective time you specify
			in your notice and a reasonable period of time, not less than 30 days, after we receive your notice. Notices are
			automatically sent to us when you delete your ODPR account. After termination of your license to us with respect
			to all of the User Content you contribute to the Site or termination of your account, you will no longer have
			access to your account and all information contained therein may be deleted. If you need assistance, please
			contact us at the technical support contact information available on the Site.
		</p>
		<p>
			Upon termination of this Agreement, for whatever reason, Section 3(4) and (6), 4(1), and 5-17 of the
			<router-link :to="termsOfUseLink">
				Terms of Use
			</router-link>
			shall continue to apply following the termination.
		</p>
		<h2>Applicable Law and Venue</h2>
		<p>
			The Agreement and the relationship between you and ODPR shall be governed by and construed and interpreted in
			accordance with the laws of Austria and the federal laws of Europe applicable therein.
		</p>
		<p>
			Any claim, dispute or controversy (whether in contract or tort, pursuant to statute or regulation, or otherwise,
			and whether preexisting, present or future) arising out of or relating to this Agreement; (b) the Services; (c)
			oral or written statements, advertisements or promotions relating to this Agreement or to the Services; or (d) the
			relationships that result from this Agreement or the Services (collectively, a "Claim") will be heard and resolved
			in a court of competent subject matter jurisdiction located in Vienna, Austria. You consent to the personal
			jurisdiction of such courts over you, stipulate to the fairness and convenience of proceeding in such courts, and
			covenant not to assert any objection to proceeding in such courts.
		</p>
		<p>
			If you choose to access the Site from locations other than Austria, you will be responsible for compliance with
			all local laws of such other jurisdiction and you agree to indemnify the ODPR Parties for your failure to
			comply with any such laws.
		</p>
		<h2>General</h2>
		<p>
			You and ODPR are independent contractors, and no agency, partnership, joint venture, employee-employer or
			franchisor-franchisee relationship is intended or created by this Agreement. The licenses granted by you to
			ODPR herein shall pass with any transfer by you of the copyright in such Content. You may not transfer or
			assign this Agreement. ODPR may without notice or consent assign its rights and obligations under this
			Agreement. The Agreement, including the <router-link :to="privacyPolicyLink">
				Privacy Policy
			</router-link>, the
			<router-link :to="termsOfUseLink">
				Terms of Use
			</router-link>, this Disclaimer, and the information provided to you
			and by you during the	registration process, and any other documents that are incorporated into this Agreement by
			reference, constitute	the entire agreement between you and ODPR with respect to the subject matter hereof,
			superseding any prior	agreements between you and ODPR (including, but not limited to, any prior versions of the
			Agreement). Your use of the Services includes the ability to enter into agreements. You
			acknowledge that your electronic submissions constitute your agreement and intent to be bound by
			such agreements. We are not responsible for typographic errors. You also may be subject to additional
			terms and conditions that may apply when you use other ODPR services, or third-party content, software or
			services offered through the Service. You agree that regardless of any statute or law to the contrary, any claim
			or cause of action by you arising out of or related to use of the Site or Content must be filed within one (1)
			year after such claim or cause of action arose or be forever barred. The parties acknowledge having consented that
			the present agreement and all documents, notices and judicial proceedings entered into, given or instituted
			pursuant hereto, or relating directly or indirectly pursuant hereto, be in the English language.
		</p>
	</div>
</template>

<script>
import {
	ROUTE_TERMS_OF_USE,
	ROUTE_DISCLAIMER,
	ROUTE_PRIVACY_POLICY
} from '@/_router/routes'

export default {
	name: 'Disclaimer',
	components: {
		Introduction: () => import('@/components/legal/Introduction')
	},
	computed: {
		termsOfUseLink: function () {
			return ROUTE_TERMS_OF_USE
		},
		disclaimerLink: function () {
			return ROUTE_DISCLAIMER
		},
		privacyPolicyLink: function () {
			return ROUTE_PRIVACY_POLICY
		}
	}
}
</script>

<style scoped>

</style>

<style lang="scss" src="@/_assets/styles/Legal.scss"></style>
