<template>
	<div class="legal-body">
		<div class="english">
			<h1>Privacy Policy</h1>
			<p>Effective date: February 16, 2019</p>
			<p>
				Institute of Computer Graphics and Algorithms ("ODPR", "us", "we", or "our") operates the
				https://odpr.cg.tuwien.ac.at website (hereinafter referred to as the "Service").
			</p>
			<p>
				This page informs you of our policies regarding the collection, use and disclosure of personal data when you
				use our Service and the choices you have associated with that data.
			</p>
			<p>
				We use your data to provide and improve the Service. By using the Service, you agree to the collection and use
				of information in accordance with this policy. Unless otherwise defined in this Privacy Policy, the terms used
				in this Privacy Policy have the same meanings as in our Terms and Conditions, accessible from
				https://odpr.cg.tuwien.ac.at
			</p>
			<h2>Definitions</h2>
			<ul>
				<li>
					<p><strong>Service</strong></p>
					<p>
						Service is the https://odpr.cg.tuwien.ac.at website operated by Institute of Computer Graphics and
						Algorithms
					</p>
				</li>
				<li>
					<p><strong>Personal Data</strong></p>
					<p>
						Personal Data means data about a living individual who can be identified from those data (or from those
						and other information either in our possession or likely to come into our possession).
					</p>
				</li>
				<li>
					<p><strong>Usage Data</strong></p>
					<p>
						Usage Data is data collected automatically either generated by the use of the Service or from the Service
						infrastructure itself (for example, the duration of a page visit).
					</p>
				</li>
				<li>
					<p><strong>Cookies</strong></p>
					<p>
						Cookies are small files stored on your device (computer or mobile device).
					</p>
				</li>
				<li>
					<p><strong>Data Controller</strong></p>
					<p>
						Data Controller means the natural or legal person who (either alone or jointly or in common with other
						persons) determines the purposes for which and the manner in which any personal information are, or are to
						be, processed.
					</p>
					<p>For the purpose of this Privacy Policy, we are a Data Controller of your Personal Data.</p>
				</li>
				<li>
					<p><strong>Data Processors (or Service Providers)</strong></p>
					<p>
						Data Processor (or Service Provider) means any natural or legal person who processes the data on behalf of
						the Data Controller.
					</p>
					<p>We may use the services of various Service Providers in order to process your data more effectively.</p>
				</li>
				<li>
					<p><strong>Data Subject (or User)</strong></p>
					<p>Data Subject is any living individual who is using our Service and is the subject of Personal Data.</p>
				</li>
			</ul>
			<h2>Information Collection and Use</h2>
			<p>
				We collect several different types of information for various purposes to provide and improve our Service to
				you.
			</p>
			<h3>Types of Data Collected</h3>
			<h4>Personal Data</h4>
			<p>
				While using our Service, we may ask you to provide us with certain personally identifiable information that can
				be used to contact or identify you ("Personal Data"). Personally identifiable information may include, but is
				not limited to:
			</p>
			<ul>
				<li>Email address</li>
				<li>Cookies and Usage Data</li>
				<li>IP address</li>
			</ul>
			<p>
				We may use your Personal Data to contact you with newsletters, marketing or promotional materials and other
				information that may be of interest to you. You may opt out of receiving any, or all, of these communications
				from us by contacting us.
			</p>
			<h4>Usage Data</h4>
			<p>
				We may also collect information on how the Service is accessed and used ("Usage Data"). This Usage Data may
				include information such as your computer's Internet Protocol address (e.g. IP address), browser type, browser
				version, the pages of our Service that you visit, the time and date of your visit, the time spent on those
				pages, unique device identifiers and other diagnostic data.
			</p>
			<h4>Tracking &amp; Cookies Data</h4>
			<p>
				We use cookies and similar tracking technologies to track the activity on our Service and we hold certain
				information.
			</p>
			<p>
				Cookies are files with a small amount of data which may include an anonymous unique identifier. Cookies are
				sent to your browser from a website and stored on your device. Other tracking technologies are also used such as
				beacons, tags and scripts to collect and track information and to improve and analyse our Service.
			</p>
			<p>
				You can instruct your browser to refuse all cookies or to indicate when a cookie is being sent. However, if you
				do not accept cookies, you may not be able to use some portions of our Service.
			</p>
			<p>Examples of Cookies we use:</p>
			<ul>
				<li><strong>Session Cookies.</strong> We use Session Cookies to operate our Service.</li>
				<li>
					<strong>Preference Cookies.</strong> We use Preference Cookies to remember your preferences and various
					settings.
				</li>
				<li><strong>Security Cookies.</strong> We use Security Cookies for security purposes.</li>
			</ul>
			<h2>Use of Data</h2>
			<p>Institute of Computer Graphics and Algorithms uses the collected data for various purposes:</p>
			<ul>
				<li>To provide and maintain our Service</li>
				<li>To notify you about changes to our Service</li>
				<li>To allow you to participate in interactive features of our Service when you choose to do so</li>
				<li>To provide customer support</li>
				<li>To gather analysis or valuable information so that we can improve our Service</li>
				<li>To monitor the usage of our Service</li>
				<li>To detect, prevent and address technical issues</li>
				<li>
					To provide you with news, special offers and general information about other goods, services and events
					which we offer that are similar to those that you have already purchased or enquired about unless you have
					opted not to receive such information
				</li>
			</ul>
			<h2>Legal Basis for Processing Personal Data under the General Data Protection Regulation (GDPR)</h2>
			<p>
				If you are from the European Economic Area (EEA), Institute of Computer Graphics and Algorithms legal basis for
				collecting and using the personal information described in this Privacy Policy depends on the Personal Data we
				collect and the specific context in which we collect it.
			</p>
			<p>Institute of Computer Graphics and Algorithms may process your Personal Data because:</p>
			<ul>
				<li>We need to perform a contract with you</li>
				<li>You have given us permission to do so</li>
				<li>The processing is in our legitimate interests and it is not overridden by your rights</li>
				<li>To comply with the law</li>
			</ul>
			<h2>Retention of Data</h2>
			<p>
				Institute of Computer Graphics and Algorithms will retain your Personal Data only for as long as is necessary
				for the purposes set out in this Privacy Policy. We will retain and use your Personal Data to the extent
				necessary to comply with our legal obligations (for example, if we are required to retain your data to comply
				with applicable laws), resolve disputes and enforce our legal agreements and policies.
			</p>
			<p>
				Institute of Computer Graphics and Algorithms will also retain Usage Data for internal analysis purposes. Usage
				Data is generally retained for a shorter period of time, except when this data is used to strengthen the
				security or to improve the functionality of our Service, or we are legally obligated to retain this data for
				longer periods.
			</p>
			<h2>Transfer of Data</h2>
			<p>
				Your information, including Personal Data, may be transferred to — and maintained on — computers located
				outside of your state, province, country or other governmental jurisdiction where the data protection laws may
				differ from those of your jurisdiction.
			</p>
			<p>
				If you are located outside Austria and choose to provide information to us, please note that we transfer the
				data, including Personal Data, to Austria and process it there.
			</p>
			<p>
				Your consent to this Privacy Policy followed by your submission of such information represents your agreement
				to that transfer.
			</p>
			<p>
				Institute of Computer Graphics and Algorithms will take all the steps reasonably necessary to ensure that your
				data is treated securely and in accordance with this Privacy Policy and no transfer of your Personal Data will
				take place to an organisation or a country unless there are adequate controls in place including the security of
				your data and other personal information.
			</p>
			<h2>Disclosure of Data</h2>
			<h3>Business Transaction</h3>
			<p>
				If Institute of Computer Graphics and Algorithms is involved in a merger, acquisition or asset sale, your
				Personal Data may be transferred. We will provide notice before your Personal Data is transferred and becomes
				subject to a different Privacy Policy.
			</p>
			<h3>Disclosure for Law Enforcement</h3>
			<p>
				Under certain circumstances, Institute of Computer Graphics and Algorithms may be required to disclose your
				Personal Data if required to do so by law or in response to valid requests by public authorities (e.g. a court
				or a government agency).
			</p>
			<h3>Legal Requirements</h3>
			<p>
				Institute of Computer Graphics and Algorithms may disclose your Personal Data in the good faith belief that
				such action is necessary to:
			</p>
			<ul>
				<li>To comply with a legal obligation</li>
				<li>To protect and defend the rights or property of Institute of Computer Graphics and Algorithms</li>
				<li>To prevent or investigate possible wrongdoing in connection with the Service</li>
				<li>To protect the personal safety of users of the Service or the public</li>
				<li>To protect against legal liability</li>
			</ul>
			<h2>Security of Data</h2>
			<p>
				The security of your data is important to us but remember that no method of transmission over the Internet or
				method of electronic storage is 100% secure. While we strive to use commercially acceptable means to protect
				your Personal Data, we cannot guarantee its absolute security.
			</p>
			<h2>Your Data Protection Rights under the General Data Protection Regulation (GDPR)</h2>
			<p>
				If you are a resident of the European Economic Area (EEA), you have certain data protection rights. Institute
				of Computer Graphics and Algorithms aims to take reasonable steps to allow you to correct, amend, delete or
				limit the use of your Personal Data.
			</p>
			<p>
				If you wish to be informed about what Personal Data we hold about you and if you want it to be removed from our
				systems, please contact us.
			</p>
			<p>In certain circumstances, you have the following data protection rights:</p>
			<ul>
				<li>
					<p>
						<strong>The right to access, update or delete the information we have on you.</strong> Whenever made
						possible, you can access, update or request deletion of your Personal Data directly within your account
						settings section. If you are unable to perform these actions yourself, please contact us to assist you.
					</p>
				</li>
				<li>
					<p>
						<strong>The right of rectification.</strong> You have the right to have your information rectified if that
						information is inaccurate or incomplete.
					</p>
				</li>
				<li>
					<p>
						<strong>The right to object.</strong> You have the right to object to our processing of your Personal Data.
					</p>
				</li>
				<li>
					<p>
						<strong>The right of restriction.</strong> You have the right to request that we restrict the processing of
						your personal information.
					</p>
				</li>
				<li>
					<p>
						<strong>The right to data portability.</strong> You have the right to be provided with a copy of the
						information we have on you in a structured, machine-readable and commonly used format.
					</p>
				</li>
				<li>
					<p>
						<strong>The right to withdraw consent.</strong> You also have the right to withdraw your consent at any
						time where Institute of Computer Graphics and Algorithms relied on your consent to process your personal
						information.
					</p>
				</li>
			</ul>
			<p>Please note that we may ask you to verify your identity before responding to such requests.</p>
			<p>
				You have the right to complain to a Data Protection Authority about our collection and use of your Personal
				Data. For more information, please contact your local data protection authority in the European Economic Area
				(EEA).
			</p>
			<h2>Service Providers</h2>
			<p>
				We may employ third party companies and individuals to facilitate our Service ("Service Providers"), provide
				the Service on our behalf, perform Service-related services or assist us in analysing how our Service is
				used.
			</p>
			<p>
				These third parties have access to your Personal Data only to perform these tasks on our behalf and are
				obligated not to disclose or use it for any other purpose.
			</p>
			<h2>Links to Other Sites</h2>
			<p>
				Our Service may contain links to other sites that are not operated by us. If you click a third party link, you
				will be directed to that third party's site. We strongly advise you to review the Privacy Policy of every site
				you visit.
			</p>
			<p>
				We have no control over and assume no responsibility for the content, privacy policies or practices of any
				third party sites or services.
			</p>
			<h2>Children's Privacy</h2>
			<p>Our Service does not address anyone under the age of 18 ("Children").</p>
			<p>
				We do not knowingly collect personally identifiable information from anyone under the age of 18. If you are a
				parent or guardian and you are aware that your Child has provided us with Personal Data, please contact us. If
				we become aware that we have collected Personal Data from children without verification of parental consent, we
				take steps to remove that information from our servers.
			</p>
			<h2>Changes to This Privacy Policy</h2>
			<p>
				We may update our Privacy Policy from time to time. We will notify you of any changes by posting the new
				Privacy Policy on this page.
			</p>
			<p>
				We will let you know via email and/or a prominent notice on our Service, prior to the change becoming effective
				and update the "effective date" at the top of this Privacy Policy.
			</p>
			<p>
				You are advised to review this Privacy Policy periodically for any changes. Changes to this Privacy Policy are
				effective when they are posted on this page.
			</p>
			<h2>Contact Us</h2>
			<p>If you have any questions about this Privacy Policy, please contact us:</p>
			<ul>
				<li>By email: {{ i18nJson().global.contactMail }}</li>
				<li>By visiting this page on our website: https://odpr.cg.tuwien.ac.at/impressum</li>
			</ul>
		</div>
		<!-- TODO: Add ruler -->
		<div class="german">
			<h1>Datenschutz-Richtlinie</h1>
			<p>Datum des Inkrafttretens: February 16, 2019</p>
			<p>
				Institute of Computer Graphics and Algorithms ("wir", "uns", "unser" usw.) betreibt die Website
				https://odpr.cg.tuwien.ac.at (nachstehend als "Dienst" bezeichnet).
			</p>
			<p>
				Diese Seite enthält Informationen zu der Art und Weise, auf welche wir personenbezogene Daten erfassen, nutzen
				und offenlegen, wenn Sie unseren Dienst nutzen, sowie zu den Optionen, die Ihnen im Zusammenhang mit diesen
				Daten zur Verfügung stehen.
			</p>
			<p>
				Wir nutzen Ihre Daten zur Bereitstellung und Verbesserung unseres Dienstes. Durch Inanspruchnahme des Dienstes
				erklären Sie sich mit der Erfassung und Nutzung von Daten durch uns nach Maßgabe dieser Richtlinie
				einverstanden. Soweit in dieser Datenschutz-Richtlinie nicht jeweils etwas anderes angegeben ist, kommt den in
				dieser Datenschutz-Richtlinie vorkommenden Begriffen jeweils dieselbe Bedeutung zu, die diesen in unseren
				Allgemeinen Geschäftsbedingungen (Terms and Conditions) (abrufbar über die https://odpr.cg.tuwien.ac.at)
				zugewiesen wurde.
			</p>
			<h2>Begriffsbestimmungen</h2>
			<ul>
				<li>
					<p><strong>Dienst</strong></p>
					<p>
						Der Dienst ist die von dem Institute of Computer Graphics and Algorithms betriebene Website
						https://odpr.cg.tuwien.ac.at
					</p>
				</li>
				<li>
					<p><strong>Personenbezogene Daten</strong></p>
					<p>
						Personenbezogene Daten sind Daten, die sich auf eine lebende Person beziehen, welche anhand dieser Daten
						(bzw. anhand dieser Daten in Kombination mit weiteren Informationen, die sich bereits in unserem Besitz
						befinden oder mit Wahrscheinlichkeit in unseren Besitz gelangen werden) identifizierbar ist.
					</p>
				</li>
				<li>
					<p><strong>Nutzungsdaten</strong></p>
					<p>
						Nutzungsdaten sind Daten, die automatisch im Rahmen der Nutzung des Dienstes oder innerhalb der
						Dienstinfrastruktur selbst (beispielsweise für die Dauer eines Seitenbesuchs) erfasst werden.
					</p>
				</li>
				<li>
					<p><strong>Cookies</strong></p>
					<p>Cookies sind kleine Dateien, die auf Ihrem Gerät (Computer oder mobiles Endgerät) gespeichert werden.</p>
				</li>
				<li>
					<p><strong>Datenverantwortlicher</strong></p>
					<p>
						Der Datenverantwortliche ist eine natürliche oder juristische Person, die (entweder alleine oder zusammen
						mit weiteren Personen) die Zwecke sowie die Art und Weise festlegt, für bzw. auf welche personenbezogene
						Daten verarbeitet werden bzw. zu verarbeiten sind.
					</p>
					<p>
						Für die Zwecke dieser Datenschutz-Richtlinie sind wir der Datenverantwortliche in Bezug auf Ihre
						personenbezogenen Daten.
					</p>
				</li>
				<li>
					<p><strong>Datenverarbeiter (oder Leistungsanbieter)</strong></p>
					<p>
						Ein Datenverarbeiter (oder Leistungsanbieter) ist eine natürliche oder juristische Person, welche die Daten
						im Namen des Datenverantwortlichen verarbeitet.
					</p>
					<p>
						Wir können die Leistungen verschiedener Leistungsanbieter in Anspruch nehmen, um Ihre Daten auf
						effizientere Weise zu verarbeiten.
					</p>
				</li>
				<li>
					<p><strong>Datensubjekt (oder Nutzer)</strong></p>
					<p>
						Ein Datensubjekt ist eine lebende Einzelperson, die unseren Dienst in Anspruch nimmt und Gegenstand
						personenbezogener Daten ist.
					</p>
				</li>
			</ul>
			<h2>Erfassung und Nutzung von Daten</h2>
			<p>
				Wir erfassen verschiedene Arten von Daten für eine Reihe von Zwecken, um den Dienst, den wir Ihnen zur
				Verfügung stellen, zu verbessern.
			</p>
			<h3>Arten der erfassten Daten</h3>
			<h4>Personenbezogene Daten</h4>
			<p>
				Im Rahmen der Nutzung unseres Dienstes bitten wir Sie gegebenenfalls um die Zurverfügungstellung bestimmter
				persönlich identifizierbarer Daten, die wir dazu nutzen, um Sie zu kontaktieren oder zu identifizieren
				("personenbezogene Daten"). Persönlich identifizierbare Daten umfassen beispielsweise folgende Daten (sind
				jedoch nicht auf diese beschränkt):
			</p>
			<ul>
				<li>E-Mail-Adresse</li>
				<li>Cookies und Nutzungsdaten</li>
			</ul>
			<p>
				Wir nutzen Ihre personenbezogenen Daten gegebenenfalls dafür, um Ihnen Newsletters, Marketing- oder
				Werbematerialien und sonstige Informationen zu übersenden, die für Sie von Interesse sein könnten. Sie können
				bestimmte oder alle unserer derartigen Mitteilungen deaktivieren, indem Sie Kontakt zu uns aufnehmen.
			</p>
			<h4>Nutzungsdaten</h4>
			<p>
				Wir können außerdem Daten zu der Art und Weise erfassen, auf welche auf unseren Dienst zugegriffen wird bzw.
				auf welche diese genutzt werden ("Nutzungsdaten"). Diese Nutzungsdaten umfassen gegebenenfalls die
				Internet-Protocol-Adresse (IP-Adresse) Ihres Computers, Ihren Browsertyp, Ihre Browserversion, die von Ihnen
				innerhalb unseres Dienstes besuchten Seiten, den Zeitpunkt und das Datum Ihres Besuchs, die Gesamtverweildauer
				auf den betreffenden Seiten, individuelle Geräteidentifikationsmerkmale und weitere Diagnostikdaten.
			</p>
			<h4>Tracking & Cookies</h4>
			<p>
				Wir setzen Cookies und ähnliche Tracking-Technologien zur Überwachung der Aktivität innerhalb unseres Dienstes
				ein und speichern in diesem Zusammenhang bestimmte Daten.
			</p>
			<p>
				Cookies sind Dateien mit einem geringen Datenumfang, wie zum Beispiel anonyme einzigartige Identifikatoren.
				Cookies werden von einer Website an Ihren Browser gesendet und auf Ihrem Gerät gespeichert. Die sonstigen von
				uns eingesetzten Tracking-Technologien sind so genannte Beacons, Tags und Scripts und dienen der Erfassung und
				Nachverfolgung von Daten sowie der Verbesserung und Analyse unseres Dienstes.
			</p>
			<p>
				Sie können in den Einstellungen Ihres Browsers bestimmen, ob Sie alle Cookies ablehnen oder nur bestimmte
				Cookies akzeptieren möchten. Falls Sie jedoch die Annahme von Cookies verweigern, können Sie gegebenenfalls
				Teile unseres Dienstes nicht in Anspruch nehmen.
			</p>
			<p>Beispiele für von uns eingesetzte Cookies:</p>
			<ul>
				<li><strong>Sitzungs-Cookies.</strong> Wir setzen Sitzungs-Cookies für den Betrieb unseres Dienstes ein.</li>
				<li>
					<strong>Präferenz-Cookies.</strong> Wir setzen Präferenz-Cookies ein, um Ihre Präferenzen und verschiedenen
					Einstellungen zu speichern.
				</li>
				<li><strong>Sicherheits-Cookies.</strong> Wir setzen Sicherheits-Cookies für Sicherheitszwecke ein.</li>
			</ul>
			<h2>Datennutzung</h2>
			<p>
				Wir bei Institute of Computer Graphics and Algorithms nutzen die erfassten Daten für verschiedene Zwecke,
				beispielsweise um:
			</p>
			<ul>
				<li>Ihnen unseren Dienst zur Verfügung zu stellen und diesen aufrecht zu erhalten;</li>
				<li>Ihnen Änderungen in Bezug auf unseren Dienst mitzuteilen;</li>
				<li>es Ihnen auf Wunsch zu ermöglichen, an den interaktiven Teilen unseres Dienstes teilzunehmen;</li>
				<li>Kundendienstleistungen zur Verfügung zu stellen;</li>
				<li>Analysedaten und sonstige wertvolle Daten zu erfassen, damit wir unseren Dienst verbessern können;</li>
				<li>die Nutzung unseres Dienstes zu überwachen;</li>
				<li>technische Probleme zu erkennen, zu vermeiden und zu beheben;</li>
				<li>
					Ihnen Neuigkeiten, Sonderangebote und allgemeine Informationen zu sonstigen von uns angebotenen Produkten,
					Dienstleistungen und Veranstaltungen mitzuteilen, soweit sie denjenigen ähneln, die Sie bereits von uns
					erworben oder bei uns angefragt haben und Sie solche Mitteilungen nicht deaktiviert haben.
				</li>
			</ul>
			<h2>
				Rechtliche Grundlage für die Verarbeitung personenbezogener Daten nach Maßgabe der Datenschutz-Grundverordnung
				(DSGVO)
			</h2>
			<p>
				Falls sich Ihr Wohnsitz innerhalb des Europäischen Wirtschaftsraums (EWR) befindet, hängt die rechtliche
				Grundlage von Institute of Computer Graphics and Algorithms für die Erfassung und Nutzung der in dieser
				Datenschutz-Richtlinie beschriebenen personenbezogenen Daten von den von uns erfassten personenbezogenen Daten
				sowie von dem erfassungsspezifischen Kontext ab.
			</p>
			<p>
				Wir bei Institute of Computer Graphics and Algorithms können Ihre personenbezogenen Daten aus folgenden Gründen
				verarbeiten:
			</p>
			<ul>
				<li>Wir müssen einen mit Ihnen eingegangen Vertrag erfüllen.</li>
				<li>Sie haben uns hierzu Ihre Zustimmung erteilt.</li>
				<li>
					Die Verarbeitung dient unseren legitimen Interessen, und diese sind Ihren Rechten gegenüber nicht
					nachrangig.
				</li>
				<li>Die Verarbeitung dient der Einhaltung der gesetzlichen Bestimmungen.</li>
			</ul>
			<h2>Aufbewahrung von Daten</h2>
			<p>
				Institute of Computer Graphics and Algorithms wird Ihre personenbezogenen Daten nur so lange aufbewahren, wie
				dies für die Zwecke dieser Datenschutz-Richtlinie erforderlich ist. Wir werden Ihre personenbezogenen Daten in
				dem Umfang aufbewahren und nutzen, wie es für die Erfüllung unserer gesetzlichen Pflichten (falls wir Ihre Daten
				beispielsweise zur Einhaltung anwendbarer Gesetze aufbewahren müssen), zur Beilegung von Streitigkeiten sowie
				zur Durchsetzung unserer rechtlichen Vereinbarungen und Richtlinien erforderlich ist.
			</p>
			<p>
				Institute of Computer Graphics and Algorithms wird außerdem Nutzungsdaten für interne Analysezwecke
				aufbewahren. Nutzungsdaten werden üblicherweise für kürzere Zeiträume aufbewahrt, soweit diese nicht für eine
				Verstärkung unserer Sicherheitsvorkehrungen oder eine Verbesserung der Funktionalität unseres Dienstes
				eingesetzt werden oder wir nicht gesetzlich zu einer längeren Aufbewahrung verpflichtet sind.
			</p>
			<h2>Übertragung von Daten</h2>
			<p>
				Ihre Daten, einschließlich personenbezogener Daten, können auf Computer übertragen – und auf solchen aufbewahrt
				– werden, die sich außerhalb Ihres Heimatstaates, Ihrer Heimatprovinz, Ihres Heimatlandes oder einer sonstigen
				Rechtsordnung befinden und somit Datenschutzgesetzen unterliegen, die sich von den Datenschutzgesetzen in Ihrer
				Rechtsordnung unterscheiden.
			</p>
			<p>
				Falls Sie sich außerhalb von Austria befinden und sich dazu entscheiden, Daten an uns zu übermitteln, müssen
				Sie zur Kenntnis nehmen, dass wir Ihre Daten, einschließlich personenbezogener Daten, nach Austria übertragen
				und diese dort verarbeiten.
			</p>
			<p>
				Ihre Zustimmung zu dieser Datenschutz-Richtlinie und eine nachfolgende Übermittlung von Daten Ihrerseits stellt
				eine Einverständniserklärung Ihrerseits zu der genannten Übertragung dar.
			</p>
			<p>
				Institute of Computer Graphics and Algorithms wird alle im zumutbaren Rahmen erforderlichen Schritte
				unternehmen um sicherzustellen, dass Ihre Daten auf sichere Weise sowie in Übereinstimmung mit dieser
				Datenschutz-Richtlinie behandelt werden, und dass Ihre personenbezogenen Daten nicht an Organisationen oder in
				Länder übertragen werden, hinsichtlich welcher keine hinreichenden Kontrollmechanismen in Bezug auf die
				Sicherheit Ihrer Daten und sonstigen personenbezogenen Informationen vorliegen.
			</p>
			<h2>Offenlegung von Daten</h2>
			<h3>Geschäftstransaktion</h3>
			<p>
				Falls Institute of Computer Graphics and Algorithms an einem Zusammenschluss, einem Unternehmenserwerb oder
				einem Verkauf von Vermögenswerten beteiligt ist, kann dies zu einer Übertragung Ihrer personenbezogenen Daten
				führen. Wir werden Sie vor einer solchen Übertragung Ihrer personenbezogenen Daten, die dann einer anderen
				Datenschutz-Richtlinie unterliegen, entsprechend informieren.
			</p>
			<h3>Offenlegung für Justizvollzugszwecke</h3>
			<p>
				Unter bestimmten Umständen ist Institute of Computer Graphics and Algorithms gegebenenfalls verpflichtet, Ihre
				personenbezogenen Daten im Rahmen einer gesetzlichen Pflicht oder aufgrund einer gerichtlichen oder behördlichen
				Aufforderung offenzulegen.
			</p>
			<h3>Gesetzliche Anforderungen</h3>
			<p>
				Institute of Computer Graphics and Algorithms kann Ihre personenbezogenen Daten unter Umständen offenlegen,
				wenn es unter Beachtung der Grundsätze von Treu und Glauben der Ansicht ist, dass dies zur Erreichung der
				nachfolgenden Zielsetzungen erforderlich ist:
			</p>
			<ul>
				<li>zur Erfüllung einer gesetzlichen Pflicht</li>
				<li>
					zum Schutz und zur Verteidigung der Rechte oder des Eigentums von Institute of Computer Graphics and
					Algorithms
				</li>
				<li>zur Vermeidung oder Untersuchung möglicher Fehlverhaltensweisen in Bezug auf den Dienst</li>
				<li>zum Schutz der persönlichen Sicherheit der Nutzer des Dienstes oder der Öffentlichkeit</li>
				<li>zur Vermeidung von Haftungsansprüchen</li>
			</ul>
			<h2>Datensicherheit</h2>
			<p>
				Die Sicherheit Ihrer Daten ist uns wichtig. Bitte vergessen Sie jedoch nicht, dass es keine
				Übertragungsmethoden über das Internet und keine elektronischen Speichermedien gibt, die 100 % sicher sind.
				Obwohl wir stets bemüht sind, kommerziell annehmbare Maßnahmen zum Schutz Ihrer personenbezogenen Daten
				umzusetzen, können wir eine absolute Sicherheit nicht garantieren.
			</p>
			<h2>Ihre Datenschutzrechte im Rahmen der Datenschutz-Grundverordnung (DSGVO)</h2>
			<p>
				Soweit sich Ihr Wohnsitz innerhalb des Europäischen Wirtschaftsraums (EWR) befindet, haben Sie bestimmte
				Datenschutzrechte. Institute of Computer Graphics and Algorithms ist bestrebt, zumutbare Maßnahmen umzusetzen,
				die es Ihnen erlauben, Ihre personenbezogenen Daten zu korrigieren, zu ändern, zu löschen oder deren Nutzung zu
				beschränken.
			</p>
			<p>
				Falls Sie in Erfahrung bringen möchten, welche personenbezogenen Daten wir zu Ihnen gespeichert haben, und
				falls Sie eine Löschung Ihrer Daten aus unserem System wünschen, nehmen Sie bitte Kontakt zu uns auf.
			</p>
			<p>
				Unter bestimmten Umständen haben Sie die folgenden Datenschutzrechte:
			</p>
			<ul>
				<li>
					<p>
						<strong>Das Recht auf Zugriff auf die Daten, die wir zu Ihnen gespeichert haben, sowie auf deren
							Aktualisierung bzw.</strong> Löschung. Soweit dies jeweils möglich ist, können Sie auf Ihre
						personenbezogenen Daten direkt in dem Abschnitt mit Ihren Account-Einstellungen zugreifen sowie diese
						aktualisieren bzw. um deren Löschung bitten. Falls es Ihnen nicht möglich ist, diese Handlungen selbst
						vorzunehmen, nehmen Sie bitte Kontakt zu uns auf, damit wir Ihnen behilflich sein können.
					</p>
				</li>
				<li>
					<p>
						<strong>Das Recht auf Berichtigung.</strong> Sie haben das Recht auf Berichtigung Ihrer Daten, falls diese
						unzutreffend oder unvollständig sein sollten.
					</p>
				</li>
				<li>
					<p>
						<strong>Das Recht auf Widerspruch.</strong> Sie haben das Recht, einer Verarbeitung Ihrer personenbezogenen
						Daten durch uns zu widersprechen.
					</p>
				</li>
				<li>
					<p>
						<strong>Das Recht auf Beschränkung.</strong> Sie haben das Recht, die Verarbeitung Ihrer personenbezogenen
						Daten durch uns zu beschränken.
					</p>
				</li>
				<li>
					<p>
						<strong>Das Recht auf Datenportabilität.</strong> Sie haben das Recht, von uns die Aushändigung einer
						Abschrift der Daten, die wir zu Ihnen gespeichert haben, in einem strukturierten, maschinenlesbaren und
						üblichen Format zu verlangen.
					</p>
				</li>
				<li>
					<p>
						<strong>Das Recht auf Zustimmungsrücknahme.</strong> Sie haben außerdem das Recht, Ihre Zustimmung in
						Fällen, in denen Institute of Computer Graphics and Algorithms rsich auf Ihre Zustimmung zur Verarbeitung
						Ihrer personenbezogenen Daten verlassen hat, jederzeit zurückzunehmen.
					</p>
				</li>
			</ul>
			<p>
				Bitte nehmen Sie zur Kenntnis, dass wir vor einer Bearbeitung solcher Anfragen gegebenenfalls Ihre Identität
				überprüfen.
			</p>
			<p>
				Sie haben das Recht, in Bezug auf die Erfassung und Nutzung Ihrer personenbezogenen Daten eine Beschwerde bei
				einer Datenschutzbehörde einzulegen. Nähere Informationen in diesem Zusammenhang können Sie von der für Sie
				örtlich zuständigen Datenschutzbehörde innerhalb des Europäischen Wirtschaftsraums (EWR) erfragen.
			</p>
			<h2>Leistungsanbieter</h2>
			<p>
				Wir beauftragen gegebenenfalls dritte Unternehmen und Einzelpersonen ("Leistungsanbieter") mit
				Unterstützungsleistungen zum einfacheren Angebot unseres Dienstes, mit der Erbringung von Leistungen in unserem
				Namen, mit der Erbringung von mit unserem Dienst verbundenen Leistungen oder mit Unterstützungsleistungen zur
				Analyse der Art und Weise, auf die unser Dienst in Anspruch genommen wird.
			</p>
			<p>
				Diese Dritten können auf Ihre personenbezogenen Daten nur in dem Umfang Zugriff nehmen, der für die Erfüllung
				der genannten Aufgaben in unserem Namen erforderlich ist, und dürfen diese für keine sonstigen Zwecke offenlegen
				oder nutzen.
			</p>
			<h2>Links zu anderen Websites</h2>
			<p>
				Unser Dienst kann Links zu anderen Websites enthalten, die nicht von uns betrieben werden. Wenn Sie auf einen
				Drittlink klicken, werden Sie direkt auf die Website des betreffenden Dritten weitergeleitet. Wir empfehlen
				Ihnen dringend, sich jeweils die Datenschutz-Richtlinien aller von Ihnen besuchten Websites durchzulesen.
			</p>
			<p>
				Wir haben keine Kontrolle über die Inhalte, Datenschutzvorschriften und -praktiken dritter Websites oder
				Dienste und übernehmen in diesem Zusammenhang keine Haftung.
			</p>
			<h2>Privatsphäre Minderjähriger</h2>
			<p>
				Unser Dienst richtet sich nicht an Personen, die das 18. Lebensjahr noch nicht vollendet haben ("minderjährige
				Personen").
			</p>
			<p>
				Wir erfassen wissentlich keine persönlich identifizierbaren Daten zu minderjährigen Personen. Falls Sie ein
				Elternteil oder Vormund sind und es Ihnen bekannt wird, dass eine Ihrer Aufsicht unterstehende minderjährige
				Person uns personenbezogene Daten übermittelt hat, bitten wir Sie, mit uns Kontakt aufzunehmen. Falls uns
				bekannt wird, dass wir personenbezogene Daten einer minderjährigen Person ohne elterliche Zustimmung erfasst
				haben, setzen wir Maßnahmen zur Entfernung dieser Daten von unseren Servern um.
			</p>
			<h2>Änderungen dieser Datenschutz-Richtlinie</h2>
			<p>
				Wir können unsere Datenschutz-Richtlinie von Zeit zu Zeit aktualisieren. Jegliche solcher Änderungen teilen wir
				Ihnen mit, indem wir die aktualisierte Fassung auf dieser Seite veröffentlichen.
			</p>
			<p>
				Wir werden Sie vor dem Inkrafttreten der betreffenden Änderung per E-Mail und/oder mittels einer sonstigen
				sichtbaren Mitteilung innerhalb unseres Dienstes informieren und das "Datum des Inkrafttretens" am Beginn dieser
				Datenschutz-Richtlinie aktualisieren.
			</p>
			<p>
				Wir empfehlen Ihnen, diese Datenschutz-Richtlinie regelmäßig auf Änderungen hin durchzusehen. Änderungen dieser
				Datenschutz-Richtlinie werden im Zeitpunkt ihrer Veröffentlichung auf dieser Seite wirksam.
			</p>
			<h2>Kontaktaufnahme</h2>
			<p>Falls Sie Fragen zu dieser Datenschutz-Richtlinie haben, können Sie wie folgt Kontakt zu uns aufnehmen:</p>
			<ul>
				<li>Per E-Mail: {{ i18nJson().global.contactMail }}</li>
				<li>Durch Besuch der folgenden Seite unserer Website: https://odpr.cg.tuwien.ac.at/impressum</li>
			</ul>
		</div>
		<!--<p>-->
		<!--Source: https://privacypolicies.com/privacy/view/e981da32f8be2a1b2359d92bc9409474-->
		<!--</p>-->
	</div>
</template>

<script>
import I18N from '@/_mixins/I18N.mixin'

export default {
	name: 'PrivacyPolicy',
	mixins: [I18N]
}
</script>

<style scoped>
	.body {

	}

	.english {

	}

	.german {

	}
</style>

<style lang="scss" src="@/_assets/styles/Legal.scss"></style>
