<template>
	<div class="legal-body">
		<Introduction />
		<ol>
			<li>
				<h1>Acceptance and Amendment of Terms</h1>
				<p>
					Welcome to the ODPR Site. Except as expressly permitted on the Site, the Service is for personal and
					non-commercial use only, and may not be used for any purpose not expressly permitted by this Agreement.
					In addition, you may not reproduce, copy, duplicate, sell or resell any part of the Service.
				</p>
				<p>
					Your use of the Service, including new features and enhancements to the Service, is entirely conditioned on
					and subject to your compliance with this Agreement. If you do not agree with this Agreement, you should leave
					the Site and discontinue use of the Services immediately. Please read this Agreement carefully and save it. If
					you wish to become a Member, communicate with other Members through the Site and make full use of the
					Services, you must read this Agreement and indicate your acceptance during the registration process.
				</p>
				<p>
					We may revise this Agreement at any time, and we will notify you of any changes by posting notice on the Site
					or Services. Your use of the Site or the Service after notice of any changes to the Agreement is your
					agreement to those change. If you do not agree with the changes, you must terminate your Member account and
					cease use of the Site and the Service.
				</p>
				<p>
					If we make any material change to this Agreement we may also notify you via the email address you provide to
					us on registration (if applicable), or as otherwise required by law and ask that you consent to those material
					changes. Please note that it is your responsibility to keep your registration information with us, including
					your email address for notification purposes, up-to-date. Any changes to the Agreement that amend the licenses
					provided in this Agreement shall amend any licenses granted before the changes take effect, as well as any
					granted after the changes takes effect. These terms shall always bear a "last updated" date at the top of the
					page showing the date on which they were last updated.
				</p>
			</li>
			<li>
				<h1>User Conduct</h1>
				<ol>
					<li>
						<p>
							In order to become a Member, you need to create a Member account. To create an account, you must submit
							certain requested information to ODPR, including a correct email address. If you’re under the age of
							14, you should provide your parent or guardian email and get permission from them. When such registration
							information is requested by the Service, the information you provide must be true, accurate, current, and
							complete.
						</p>
					</li>
					<li>
						<p>
							You are responsible for any activity and charges that occur under your screen name and Member account. You
							may not transfer your account.
						</p>
					</li>
					<li>
						<p>
							You are responsible for keeping your Member password secure and for notifying ODPR immediately of any
							breach of security or unauthorized use of your Member account.
						</p>
					</li>
					<li>
						<p>
							You are responsible for maintaining the confidentiality of any personal or personally identifiable data
							you upload and store on the Site and are responsible for complying with all applicable laws governing
							collection, storage, processing, use and transfer of such information.
						</p>
					</li>
					<li>
						<p>
							You are solely responsible for your conduct on the Site and use of the Service, and for any content,
							including but not limited to text, avatars, information, and other files (collectively, "Content"), that
							you contribute to the Site. For registered Members, this also includes, but is not limited to designs,
							text, graphics, pictures, video, information, applications, software, music, sound and other files
							(collectively, "Content"), that you contribute to the Site.
						</p>
					</li>
					<li>
						<p>You must not abuse, harass, threaten, impersonate or intimidate other Users of the Service.</p>
					</li>
					<li>
						<p>
							You may not use the Service for any illegal or unauthorized purpose. International Users agree to comply
							with all local laws regarding online conduct and acceptable content.
						</p>
					</li>
					<li>
						<p>You must not create or submit unwanted email or other messages to any Users of the Site.</p>
					</li>
					<li>
						<p>
							You may not collect or harvest any personally identifiable information, including account names, from the
							Site.
						</p>
					</li>
					<li>
						<p>
							You may not use the Service to upload, transmit or link to Prohibited Content. Generally, Prohibited
							Content includes Content or other material that ODPR believes:
						</p>
						<ol>
							<li>
								<p>
									is abusive, deceptive, pornographic, obscene, defamatory, slanderous, offensive, encourages conduct
									that would violate or violates any law, harassing, hateful, racially or ethnically offensive, or
									otherwise inappropriate;
								</p>
							</li>
							<li>
								<p>
									comprises material that is copyrighted or protected by trade secret or otherwise subject to third
									party proprietary rights, including privacy and publicity rights, unless express written permission of
									the owner is obtained to use the material and to grant all of the license rights granted herein;
								</p>
							</li>
							<li>
								<p>violates or otherwise encroaches on the rights of others;</p>
							</li>
							<li>
								<p>
									contains viruses, worms, corrupt files, Trojan horses or other forms of corruptive code, or any other
									content which may compromise the Service;
								</p>
							</li>
							<li>
								<p>advocates illegal activity;</p>
							</li>
							<li>
								<p>harms anyone, including minors; or</p>
							</li>
							<li>
								<p>provides a link to any of the above.</p>
							</li>
							<li>
								<p>
									You may not access the Site or the Service with any automated system, including without limitation,
									"robots," "spiders," "offline readers," etc.
								</p>
							</li>
						</ol>
					</li>
				</ol>
				<p>
					ODPR has the sole discretion to determine whether Content is Prohibited Content, and any Content submitted
					to the Service may be subject to examination from time to time. Although ODPR does not and will not examine
					or otherwise review all Content submitted or transmitted to the Service, ODPR may delete, move, and edit
					Content for any reason, at any time, without notice. ODPR in no way guarantees the accuracy,
					non-infringement, quality or appropriateness of Content available through the Service.
				</p>
				<p>
					Any breach or non-compliance of any of these User Conduct terms will entitle ODPR to immediately and
					without notice (i) terminate any Member account, which could result in the removal of any data in the account
					from our servers and any User Content of the Member (including permanent deletion of data), and (ii)
					block you from any further use of the Site and Service.
				</p>
			</li>
			<li>
				<h1>Content Contributed to the Site by Members</h1>
				<p>
					The Site allows Members to upload files and images to the Site, and to share those files and images through
					the Site with other Users. The Site also allows ODPR registered Users to supply their Content for our and our
					Users' and Guests' use in connection with the Service. In this Agreement we refer to all of this Content
					provided by Users as "User Content".
				</p>
				<p>
					We do not claim any ownership interest in your User Content, but we do need the right to use your User Content
					only to the extent necessary to provide the Site and Services to Users, including to display User Content in
					the manner requested by the User to operate the Site and Services.,
				</p>
				<ol>
					<li>
						<p>
							In order for us to make the User Content you contribute available on the Site for these purposes, and to
							operate, market and promote the Service, we need the right to make use of such User Content in accordance
							with and subject to this Agreement.
						</p>
					</li>
					<li>
						<p>
							For example, if you post Sceneries, Requests, Answers or Documents or leave Comments, we need your license
							to display that User Content on the Services, and we need the right to sublicense that User Content to our
							other Users so that they can view that User Content.
						</p>
					</li>
					<li>
						<p>
							Therefore, by contributing User Content to the Site or creating it on the Site you automatically grant to
							us an irrevocable and perpetual (except as set forth in this Agreement), non-exclusive, transferable,
							fully-paid, royalty-free (except as expressly set forth in this Agreement), worldwide license, by
							ourselves or with others, to use, copy, distribute, publicly perform, publicly display, print, publish,
							republish, excerpt (in whole or in part), reformat, translate, modify, revise and incorporate into other
							works, that User Content and any works derived from that User Content, in any form of media or expression,
							in the manner in which the Service from time to time permits User Content to be used, in compliance with
							all applicable laws, and to license or permit others to do so. Our rights under this license remain in
							place even after termination of your Membership and account.
						</p>
					</li>
					<li>
						<p>
							Our rights to "modify, adapt, translate, and create derivative works from" are necessary because the
							normal operation of the Services does this to your User Content when it processes it for use in the
							Services.
						</p>
					</li>
					<li>
						<p>
							This license also grants us the right to sublicense that User Content to other Users to permit their use
							of that User Content in the manner in which the Service from time to time permits User Content to be used.
						</p>
					</li>
					<li>
						<p>
							We may from time to time change the manner in which User Content can be used by the Service, and if we do
							so any license you have granted to us under Section 3(2) shall automatically be extended to new uses
							permitted by the Service, and any licenses previously granted to us for uses no longer permitted by the
							Service shall continue in accordance with Section 3(4). If you contribute User Content to the Site, it is
							your responsibility to check the Site from time to time to review how we permit User Content to be used.
						</p>
					</li>
					<li>
						<p>
							You may at any time, on written notice to us, terminate your use of the Site and this Agreement in the
							manner provided below, and upon such termination your license to us and our sublicenses to others shall
							also terminate, provided that after such termination that license and those sublicenses will continue with
							respect to any Permitted Use of your User Content that commenced prior to the effective time of the
							termination, until that Permitted Use ceases. A Permitted Use is any use of Content permitted by this
							Agreement or the Service. For example, if at the time of your termination any User Content you have
							contributed to the Site as an artist is used in a Scenery, a Request, an Answer, a Comment or a Document
							or any other place where Content, being it files, images or simply text can be provided, or has been
							printed by a Member for their personal use, or is used by us in promotional materials, those uses may
							continue until they cease. In particular, if at the time of your termination your User Content has been
							sublicensed by us to a third party for printing, that sublicense, printing, distribution and sale of
							printed materials may continue until it terminates according to the terms of our agreement with the third
							party. Also, if you choose to terminate, while it is not our usual practice, we may retain a copy of the
							applicable User Content for archival purposes, particularly if it violates Section 2(6) to 2(10) of this
							Agreement. Finally, if your use of the Site or this Agreement terminates for any reason, or Content is
							removed from the Site, your license hereunder to use the Content or the removed Content, as the case may
							be, terminates immediately.
						</p>
					</li>
					<li>
						<p>
							ODPR reserves the right to remove Content from the Site at any time, without notice, for any reason, or
							for no reason, in its sole discretion.
						</p>
					</li>
					<li>
						<p>
							You represent and warrant to ODPR that (a) you are the sole owner, author and copyright owner of User
							Content you contribute to the Site or you have written permission from the author, owner or copyright
							owner to make such User Content available to the Service as "User Content", and (b) such User Content does
							not infringe upon any third party rights (including but not limited to any copyright, patent, trademark,
							trade secret, other intellectual property rights, moral rights, privacy rights or publicity rights); (c)
							such User Content complies with this Agreement and does not contain any defamatory, libelous or obscene
							material; (d) such User Content does not violate any applicable laws, regulations, or contain any false
							statements or misrepresentations; and (e) you have the written consent, release, and/or permission of each
							and every identifiable individual person, or the owner/author of any objects or work in such User Content
							to use the name or likeness of each and every such identifiable individual person, object or work, to
							enable inclusion and use of such User Content in the manner contemplated by the Service and this
							Agreement.
						</p>
					</li>
				</ol>
			</li>
			<li>
				<h1>Our Intellectual Property Rights; Our License of Content to Members</h1>
				<ol>
					<li>
						<p>
							Except as otherwise expressly indicated, the Site, and all text, images, marks, logos and other content
							contained therein, including, without limitation, our logo and all designs, text, graphics, pictures,
							information, data, software, sound files, other files, Content and the selection and arrangement thereof
							are the proprietary property of ODPR or its licensors and are protected by Austrian, European and
							international copyright laws. All rights to the Content are expressly reserved, and except for licenses
							expressly granted in this Agreement no right to any Content on the Site is granted to you.
						</p>
					</li>
					<li>
						<p>
							You have a limited right, for the term of and subject to this Agreement, to use Content provided on the
							Site (i) only in connection with and during your use of the Site in accordance with this Agreement, (ii)
							only for the purpose for which, and in the manner in which, the Site makes such Content available and,
							unless the Site expressly permits other uses, only for personal, non-commercial use. This right is not
							exclusive or transferable, and may be terminated at any time by ODPR.
						</p>
					</li>
					<li>
						<p>
							We will only use your personal information as permitted by our
							<router-link :to="privacyPolicyLink">
								Privacy Policy
							</router-link>
						</p>
					</li>
				</ol>
			</li>
			<li>
				<h1>Fees for Use of the Service</h1>
				<p>
					This site does not sell, re-sell or otherwise provide services or content which are not free of charge.
					There are no fees for any services or for any content.
					Users are reliable to only upload content which is freely distributable (please read through the whole
					Terms of Services)
				</p>
			</li>
			<li>
				<h1>Third Parties and Other Users</h1>
				<p>
					<strong>Third Party Content.</strong> Content created by third parties is made available to you through the
					Services. Although ODPR may employ filters and live moderators that are intended to prevent the
					communication of both personal information and age-inappropriate content available to the general public, you
					agree that ODPR is not responsible for any such Content, including information about third party products
					or services; that ODPR makes no guarantees about the accuracy, currency, suitability, or quality of such
					Content; and that ODPR assumes no responsibility for unintended, objectionable, infringing, inaccurate,
					misleading, or unlawful Content made available by other Users, advertisers, and third parties.
				</p>
				<p>
					<strong>Responsibility.</strong> Your interactions with other Users or third parties, including
					delivery of goods or services, and any other terms, conditions, warranties or representations associated with
					such dealings, are solely between you and the other User or third party. The foregoing also applies to any
					interaction between Members (including the contribution and/or receipt of any Content) in the course of using
					the Site. You agree that ODPR will not be responsible for any loss or damage incurred as the result of any
					such interactions and dealings listed in this section or with respect to any other User’s use or disclosure of
					your personally identifiable information. If there is a dispute between you and any third party (including any
					User) in relation to the use of the Site, we are under no obligation to become involved; however, ODPR
					reserves the right to monitor disputes between you and other Users. You hereby release ODPR, its directors,
					officers, employees, agents and shareholders (the "ODPR Parties") from all claims, demands, losses,
					damages, rights, claims, and actions of any kind including, without limitation, personal injuries, death, and
					property damage, that are either directly or indirectly related to or arise from any interactions with other
					Users or their Content or any third party through or in relation to the Site or the Service.
				</p>
				<p>
					<strong>Third-Party Links.</strong> The provision of links to other websites or locations is for your
					convenience and does not signify our endorsement of such other websites or locations or their contents. Links
					to
					other websites or locations may also be posted by registered Members anywhere on this Site, or by ODPR on our
					Site. While ODPR will make every endeavour to link only to appropriate content, ODPR
					has no control over, does not review, and cannot be responsible for, these outside websites or their content.
					Please be aware that those linked sites have their own terms and privacy policies, and we encourage you to
					read
					them.
				</p>
			</li>
			<li>
				<h1>Your Privacy Responsibilities</h1>
				<p>
					You represent and warrant to ODPR that you have obtained all required consents with respect to any
					personal information (of any other person) provided by you to ODPR, and that - subject to our
					<router-link :to="privacyPolicyLink">
						Privacy Policy
					</router-link>
					- ODPR may use such personal information for
					the purposes of operating the Service.
				</p>
				<p>
					You agree to comply with all applicable data privacy laws.
				</p>
			</li>
			<li>
				<h1>Respecting the Intellectual Property Rights of Others</h1>
				<p>
					ODPR respects intellectual property rights. If you believe that any Content on the Site infringes on
					another's intellectual property rights you may contact us with the contact information on the Site. ODPR
					reserves the right to remove Content and User Content without prior notice. ODPR may also terminate a
					Users' access to the Site, immediately and without notice, if ODPR believes, in its sole discretion, that
					the User is infringing any third party rights (including but not limited to any copyright, patent, trademark,
					trade secret, other intellectual property rights, moral rights, privacy rights or publicity rights).
				</p>
			</li>
			<li>
				<h1>Indemnity</h1>
				<p>
					You agree to indemnify and hold harmless the ODPR Parties from any damage, liability, cost, expense,
					loss, claim or demand (collectively, "Losses") including reasonable lawyers' fees, due to or arising out of
					your use of the Site or the Services, including your breach of this Agreement, and including also any claims
					that Content provided by you to us or Members infringes the intellectual property or other rights of any third
					party.
				</p>
			</li>
			<li>
				<h1>Disclaimers</h1>
				<p>
					Please refer to our
					<router-link :to="disclaimerLink">
						Disclaimer
					</router-link>
					Page.
				</p>
			</li>
			<li>
				<h1>Privacy Policy</h1>
				<p>
					Please refer to our
					<router-link :to="privacyPolicyLink">
						Privacy Policy
					</router-link>
					Page.
				</p>
			</li>
		</ol>
	</div>
</template>

<script>
import {
	ROUTE_PRIVACY_POLICY,
	ROUTE_DISCLAIMER
} from '@/_router/routes'
import I18N from '@/_mixins/I18N.mixin'

export default {
	name: 'TermsOfService',
	components: {
		Introduction: () => import('@/components/legal/Introduction')
	},
	mixins: [I18N],
	computed: {
		privacyPolicyLink: function () {
			return ROUTE_PRIVACY_POLICY
		},
		disclaimerLink: function () {
			return ROUTE_DISCLAIMER
		}
	}
}
</script>

<style scoped>

</style>

<style lang="scss" src="@/_assets/styles/Legal.scss"></style>
